<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>言葉落とし</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<h1>言葉落とし</h1>

<div class="status">
    <span>スコア：<span id="score">0</span></span>
    <span>ライフ：<span id="life">3</span></span>
    <span>英単語：<span id="wordCount">0</span></span>
</div>
<div id="wordLog"></div>

<div id="gameOverMessage" style="display:none;">
    <p>ゲームオーバー</p>
</div>

<canvas id="board" width="384" height="416"></canvas>

<script th:src="@{/js/game.js}"></script>

</body>
</html>